@import url('https://fonts.googleapis.com/css2? family= Newsreader:opsz,wght@6..72,200 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: linear gradient (68.15 degrees, #2F2325 16.62%, #8E5D52 85.61%);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    

}
